[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
[submodule "deps/flatcc"]
	path = deps/flatcc
	url = https://github.com/dvidelabs/flatcc.git
[submodule "deps/mimalloc"]
	path = deps/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "deps/uthash"]
	path = deps/uthash
	url = https://github.com/troydhanson/uthash.git
[submodule "deps/gtest"]
	path = deps/gtest
	url = https://github.com/google/googletest.git
